$fa-font-path: '../bower_components/font-awesome/fonts';
@import '../bower_components/font-awesome/scss/font-awesome';
$icon-font-path: '../bower_components/sass-bootstrap/fonts/';
@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import 'custom_mixins.scss';
/* This is your main css file */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* remove this part below and start develop */

html, body{
    height:100%; /* make height stretch*/
    margin: 0;
    padding:0;
}

body > div , body > div > div{
    height:100%; /* make height stretch for containers */
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("../images/rasta_boombox_background.jpg");
}

.header, .footer{
    height: 5%;
}

.jumbotron{
    height: 35%;
}
.row.marketing{
    height:40%;
    background: url("../images/stripe_background.jpg");
    background-size: contain; /* important to make background resize to match container*/
}

.marketing div{
    background: black;
    display: inline-block;
    height: 90%;
    width: 40%;
    margin: 5%;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 36%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */


.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    background: black;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: url("../images/rasta_wallpaper_by_tradermichael-d5vyhyi.png");
    background-size: contain; /* important to make background resize to match container*/
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}



/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
